@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../styles/bookVenue.scss";
@import "../styles/profile.scss";

.card-img-top {
    height: 15rem;
    object-fit: cover;
}

.card {
    box-shadow: 0px 3px 15px rgb(0, 0, 0, 0.2);
    margin-bottom: 20px;
}