$primary: #1a77a3;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../styles/bookVenue.scss";
@import "../styles/profile.scss";
@import "./nav.scss";

:root {
    --bs-success: #1a77a3;
    height: 100vh;
}


.btn-primary{
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #1a77a3;
}

body, html {
    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
    font-family: 'Fira', sans-serif;
    height: 100%;
    margin-bottom: 200px
}

.card-img-top {
    height: 15rem;
    object-fit: cover;
}

.card {
    box-shadow: 0px 3px 15px rgba(163, 184, 206, 0.2);
}

.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding-bottom: 30px;
}

.navContainer {
    font-size: large;
    padding-bottom: 0;
}