
.navbar-nav .nav-link.active {
    color: $primary;
    font-weight: 600;
}

a:hover {
    background-color: #f0f0f0;
    text-decoration: underline;
    font-weight: 600;
}

// .navbar-nav {
//     --bs-navbar-hover-color: $primary;
// }

.navbar-brand {
    font-size: 30px;
    padding-bottom: 0;
}

h1 {
    color: $primary;
}
